*.a
*.exe
*.mod
*.log
*.o
doc/
config.log
config.status
ppidd-config
src/ppidd.h
src/ppidd_config.h
src/ppidd_module.F90
Makefile
src/Makefile
test/Makefile
cmake-build-*/
build*/
.idea/
__.SYMDEF SORTED
